<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="HardwareMonitor.WindowsService.Service1Behavior"
        name="HardwareMonitor.WindowsService.HardwareMonitorWinService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          contract="HardwareMonitor.WindowsService.WCF.IHardwareMonitorWCFContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8523/HardwareMonitorWinService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HardwareMonitor.WindowsService.Service1Behavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
