<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ITemperatureWCFClientBroadcast" openTimeout="00:00:10">
                    <security mode="Message" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9294/HardwareMonitorClient/Temperature"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITemperatureWCFClientBroadcast"
                contract="TemperatureBroadcastServiceReference.ITemperatureWCFClientBroadcast"
                name="WSDualHttpBinding_ITemperatureWCFClientBroadcast">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>