<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
            <binding name="NetTcpBinding_IHardwareMonitorTemperatureWCFContract" />
        </netTcpBinding>
        <wsDualHttpBinding>
          <binding name="WsDualHttpBinding_ITemperatureWCFClientBroadcast"
                   openTimeout="00:00:20"
                   closeTimeout="00:00:04"
                   sendTimeout="00:00:04"
                   receiveTimeout="00:00:04">
          </binding>
        </wsDualHttpBinding>
      </bindings>
      <client>
          <endpoint address="net.tcp://localhost:9292/HardwareMonitorTemperatureWinService"
              binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHardwareMonitorTemperatureWCFContract"
              contract="TemperatureMonitorServiceReference.IHardwareMonitorTemperatureWCFContract"
              name="NetTcpBinding_IHardwareMonitorTemperatureWCFContract">
              <identity>
                  <dns value="localhost" />
              </identity>
          </endpoint>
      </client>

      <services>
        <service behaviorConfiguration="Default" name="HardwareMonitor.Client.TemperatureWCF.TemperatureWCFClientBroadcast">
          <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="WsDualHttpBinding_ITemperatureWCFClientBroadcast"
            contract="HardwareMonitor.Client.TemperatureWCF.ITemperatureWCFClientBroadcast">
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>
          <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
            contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:9294/HardwareMonitorClient/Temperature" />
            </baseAddresses>
          </host>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="Default">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>