<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
        <service behaviorConfiguration="Default" name="HardwareMonitor.Client.TemperatureWCF.TemperatureWCFClientBroadcast">
          <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration=""
            contract="HardwareMonitor.Client.TemperatureWCF.ITemperatureWCFClientBroadcast">
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>
          <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
            contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:9294/HardwareMonitorClient/Temperature" />
            </baseAddresses>
          </host>
        </service>
      </services>
    <bindings>
        <wsDualHttpBinding>
          <binding name="WsDualHttpBinding_ITemperatureWCFClientBroadcast"
                   openTimeout="00:00:20"
                   closeTimeout="00:00:04"
                   sendTimeout="00:00:04"
                   receiveTimeout="00:00:04">
          </binding>
        </wsDualHttpBinding>
      </bindings>
      <behaviors>
        <serviceBehaviors>
          <behavior name="Default">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>

</configuration>
